{{#if categories}}
{{if showTopics 'with-topics'}}
   
{{#each categories as |c|}}
<div class="cat-glav">
        
<div class="cat-telo">
<a title="{{{dir-span c.name}}}" href="{{{dir-span c.url}}}">	
<img src="{{{dir-span c.uploaded_logo.url}}}" alt="Раздел: {{{dir-span c.name}}}" class="logo-cat">	
<div class="cat-title">{{{dir-span c.name}}}</div> 
</a>	
      <div class="category-description">
     {{{dir-span c.description_excerpt}}}   
     </div>
            {{#if c.subcategories}}
              <div class='subcategories'>
                      {{#each c.subcategories as |s|}}
                  <span class='subcategory'>
                    {{category-title-before category=s}}
                    {{category-link s hideParent="true"}}
                    {{category-unread category=s}}
                  </span>
                {{/each}}    
     
              </div>
            {{/if}}
           
    </div>
    <div data-category-id={{c.id}}  class='topics'>1{{{c.stat}}}</div>
</div>	
{{/each}}
{{/if}}
