<table class="h-table" border="0"><tr>
  <td width="30%"  valign="top">
  <div class="h-blog">  
     {{mount-widget widget="post-category"  args=(hash listLoading=loading)}} 
  </div>
  </td>
  <td width="50%" class="info-home" valign="top">
      {{mount-widget widget="link-top"  args=(hash listLoading=loading)}}
  </td>
  <td width="20%"  valign="top"> 
  <div class="blog-right">
  
   <div class="blog-0"> {{d-icon "trophy"}} <a href="https://toxu.ru/qa">Писатели за месяц...</a></div> <br>
  
   Данная страница находится в стадии активного тестирования. <br>
    
  <div class="blog-1">{{d-icon "question-circle"}} Текстовый блог 1</div>
  <div class="blog-2">{{d-icon "heart-o"}} Текстовый блог 2</div> 
  <div class="blog-3">{{d-icon "exclamation-triangle"}} Текстовый блог 3</div> 
  
   {{#if currentUser.staff}}. {{else}} .. {{/if}}
  
  </div> 
  </td>
</tr></table> 

<table width="100%"  class="h-table"> <tr>
   <td width="37%" valign="top"> <div class="h-home">Блог</div>  <div class="category-list">{{categories-only-cat categories=categories}}</div> </td>
   <td width="50px"> </td> 
   <td valign="top"><div class="h-home">Последние вопросы</div> {{latest-topic-list-cat topics=topics}} </td>
</tr></table>
